#myDIV {
    height: 500px;
    width: 500px;
    overflow: auto;
    background: green;
}

#content {
    margin:500px;
    height: 800px;
    width: 2000px;
    background-color: coral;
    position: relative;
}

#content2 {
    margin:500px;
    height: 800px;
    width: 2000px;
    background-color: red;
    position: relative;
}

#content3 {
    margin:500px;
    height: 800px;
    width: 2000px;
    color: white;
    background-color: blueviolet;
    position: relative;
}