<p>
  home works!
</p>
<nav>
  <ul>
    <li><a href="" [routerLink]="['/home']" >Home</a></li>
    <li><a href="" [routerLink]="['/common']" >Utilities-Testing</a></li>
    <li><a href="" [routerLink]="['/testing/sort-testing']" >Sorting</a></li>
    <li><a href="" [routerLink]="['/testing/export']" >Export</a></li>
    <li><a href="" [routerLink]="['/testing/third-party-tools']" >Third Party</a></li>
    <li><a href="" [routerLink]="['/testing/schedule-conflict']" >Schedule Conflict</a></li>
    <li><a href="" [routerLink]="['/styling/css-home']" >CSS Home</a></li>
    <li><a href="" [routerLink]="['/testing/bookmark-testing']" >Bookmark Testing</a></li>
    <li><a href="" [routerLink]="['/testing//date-round-down']" >Date Round Down</a></li>
    <li><a href="" [routerLink]="['/demos/demo-home']" >Demos</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
