<p>
  schedule-conflict works!
</p>

<nav>
  <ul>
    <li><a href="" [routerLink]="['/home']" >Home</a></li>
  </ul>
</nav>
<div class="container" >
  <h3>Employee Form</h3>
  <form #form="ngForm"  novalidate>
      <div class="form-group" >
          <label class="control-label" >Procedure Date</label>
          <input #proDate="ngModel" required type="date" 
                class="form-control" 
                name="procedureDate"              
                [(ngModel)]="scheduling.procedureDate"                
                (ngModelChange)="onProcedureDateChange($event)"
              >
      </div>
      <div class="form-group" >
          <label class="control-label" >Start Time</label>
          <input #start="ngModel" required type="time" 
                class="form-control" 
                name="startTime" 
                [(ngModel)]="scheduling.startTime"                
                (ngModelChange)="onStartTimeChange($event)"
              >
      </div>

      <div class="form-group">
          <label class="control-label" >End Time</label>
          <input #end="ngModel" 
              required type="time" 
              class="form-control" 
              name="endTime" 
              [(ngModel)]="scheduling.endTime"
              (ngModelChange)="onEndTimeChange($event)"              
            >
      </div>

      <button class="btn btn-primary" type="submit"
          [disabled]="form.invalid">Ok</button>
  </form>
</div>