<p>
  demo-home works!
</p>
<nav>
  <ul>
    <li>
      <a href="" [routerLink]="['/home']">Home</a>
    </li>
    <li>
      <a href="" [routerLink]="['./template-form']">Template Form Demo</a>
    </li>
    <li>
      <a href="" [routerLink]="['./reactive-form']">Reactive Form Demo</a>
    </li>
    <li>
        <a href="" [routerLink]="['./reactive-formbuilder']">Reactive Form Builder Demo</a>
    </li>
    <li>
      <a href="" [routerLink]="['./reactive-display-validation']">Reactive Display Validation Demo</a>
    </li>
    <li>
      <a href="" [routerLink]="['./reactive-duplicate-elements']">Reactive Duplicate Elements Demo</a>
    </li>
    <li>
      <a href="" [routerLink]="['./amp-home']">AMP Demo</a>
    </li>
    <li>
      <a href="" [routerLink]="['./crud-home']">CRUD Demo</a>
  </li>
  </ul>
</nav>

